{% extends "./base.html" %} {%block body %}

<h1>productos</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            Primera columna
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">Python</h4>
                    <p class="card-text">Curso completo a $/10.0</p>
                </div>
                <a
                    name=""
                    id=""
                    class="btn btn-primary"
                    href="#"
                    role="button"
                    >Descargar</a
                >
                
            </div>
            
        </div>
        <div class="col-md-3">Segunda columna
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">Java</h4>
                    <p class="card-text">Curso completo a $/10.0</p>
                </div>
                <a
                    name=""
                    id=""
                    class="btn btn-primary"
                    href="#"
                    role="button"
                    >Descargar</a
                >
                
            </div>
        </div>
            
        <div class="col-md-3">Tercera columna
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">C++</h4>
                    <p class="card-text">Curso completo a $/10.0</p>
                </div>
                <a
                    name=""
                    id=""
                    class="btn btn-primary"
                    href="#"
                    role="button"
                    >Descargar</a
                >
                
            </div>
        </div>
            
        <div class="col-md-3">Cuarta columna
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">Ruby</h4>
                    <p class="card-text">Curso completo a $/10.0</p>
                </div>
                <a
                        name=""
                        id=""
                        class="btn btn-primary"
                        href="#"
                        role="button"
                        >Descargar</a
                    >
            </div>
        </div>
            
        
    </div>
</div>
{%endblock%}
